:root {
  --blue: #173e66;
  --white: #ffffff;
  --offwhite: #b6b6b6;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 0;
  background-color: var(--offwhite);
}

header {
  display: grid;
  justify-content: center;
  color: var(--white);
  margin: 0;
  padding: 10px;
  height: 100%;
  background-color: var(--blue);
}

footer {
  display: flex;
  color: var(--white);
  flex-shrink: 0;
  padding: 1em;
  
  background-color: var(--blue);
}

h1 {
  padding: 0;
  margin: 0 auto;
}

section.section-1 {
  display: grid;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;
  max-height: 20%;
  background-color: var(--white);
  justify-content: center;
  grid-template-columns: 2fr .5fr;
  gap: 20px;
}

h3.section-1 {
  display: grid;
  padding: 0;
  margin: 0 auto;
  grid-column: 1;
}

p.header-sub-text {
  padding: 0;
  font-size: 10px;
  margin: 0 auto;
}

article.section-text {
  display: -webkit-box;
  padding: 0;
  font-size: 10px;
  margin: 0 auto;
  grid-column: span 3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

img.section-image {
  display: grid;
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-column: span 2;
}

div.col-1 {
  position: relative;
  grid-column: 1;
}

a.section-link {
  padding-bottom: 0;
  position: absolute;
  bottom: 0px;
  font-weight: bold;
  color: var(--blue);
}
