body {
  font-family: "Lato", sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.heading1 {
  color: rgb(0, 0, 0);
}

.heroInner {
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.heroInner.main {
  display: grid;
  background-color: rgb(71, 67, 67);
  grid-template-columns: 180px 3fr;
  height: 90%;
}

nav {
  display: grid;
  grid-row: span 2;
  height: 100%;
  background-color: #f2f2f2;
}

.rightHero {
  height: 100%;
  margin: 0;
  grid-column: span 2;
}

.rightHero.music {
  box-sizing: border-box;
  margin: 0;
  grid-column: span 3;
}
.rightHero.table {
  height: 100%;
  overflow: auto;
}
.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 40px 5fr;
  grid-template-rows: 0.5fr 1.5fr 75px;
}

i {
  margin: auto;
}

img.thumb {
  width: 80%;
  max-width: 50px;
  min-width: 50px;
}

.img.hero {
  width: 90%;
  margin: 0 auto;
  height: auto;
  min-height: 50px;
}

h3 {
  margin: 0;
}

.row {
  float: left;
  width: 50%;
}

td {
  width: 20%;
  padding: 10px;
  margin: 0px;
}

table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  font-size: 10px;
}

.hero.image {
  box-sizing: border-box;
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.musicplayer {
  background-color: #43689b;
  color: #f2f2f2;
  display: grid;
  grid-template-columns: 70px 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  height: 100%;
}
.hero.text1 {
  color: rgb(255, 255, 255);
  padding-left: 20px;
  align-content: center;
  position: relative;
}
.hero.text2 {
  padding: 90px;
  grid-column: 2/3;
}
.material-icons {
  font-size: 15px !important;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.info {
  position: absolute;
  bottom: 0;
  font-size: 1px !important;
}

.img.tiny {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  padding: 10px;

  display: grid;
  justify-content: center;
  align-items: center;
}

span {
  padding: 10px;
}

a {
  color: #3733e5;
}
